<div class="builder-container">
  <div
    style="width:100%;display: flex;justify-content: center;align-items: center;flex-grow: 1;"
  >
    <div class="form-component">
      <div style="width:95%">
        <h3>Form</h3>
        <div
          cdkDropList
          #todoList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of todo" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>
      <div style="width:95%">
        <h3>App</h3>
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of done" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="min-width: 300px;">
    <div class="previewContainer">
      <div class="previewContainerPhone"></div>
      <div
        [innerHtml]="html"
        style="
      padding-top: 10px;
      padding-left: 41px;
      padding-right: 40px;"
      ></div>
    </div>
  </div>
</div>

<div>
  <h3>Code</h3>
  <div>
    {{ html }}
  </div>
</div>
